/* Fonts imported from google */
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&family=Zeyada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Zen+Dots&display=swap');

html,
body {
    justify-content: center;
    align-items: center;
    text-align: center;
    background:#801920;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-size: 20px;
}

/* Headings */

.navbar,
.game-name {
    margin: auto;
}

.game-name {
    font-family: 'Zen Dots', sans-serif;
    font-size: 45px;
    letter-spacing: 5px;
}

h2 {
    font-family: 'Zen Dots', sans-serif;
    font-size: 23px;
    color: white;
}

/* Main section */

.btn-primary {
    margin: 5px;
    padding: 0.4rem 1rem;
    font-size: 1.5rem;
    border-radius: 1.25rem;
    background-color: #a4985d;
    border-color: transparent;
}

.btn-secondary {
    color: #fff;
    background-color: #801920;
    border-color: #fff;
    font-size: 1rem;
    border-radius: 1rem;
}

.btn-primary:hover,
.btn-secondary:hover,
.btn-level:hover {
    background-color: #d3c272;
    border-color: transparent;
}

.btn-level {
    margin: 20px 5px 5px 5px;
    padding: 0.375rem 1.75rem;
    font-size: 1.5rem;
    border-radius: 2.25rem;
    background-color: #801920;
    border-color: transparent;
    color: white;
}

.modal-content {
    border-radius: 1.3rem;
    background-color: #a4985d;
    color: white;
    font-size: 18px;
    text-align: left;
}

.modal-body {
    margin: auto;
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 330px;
}

.modal-header,
.modal-footer {
    border-top: none;
    border-bottom: none;
}

/* Game section */

.game-section {
    margin-top: 50px;
}

.info-window {
    margin: 5px;
    padding: 0.375rem 1.75rem;
    font-size: 1rem;
    border: 2px solid #a4985d;
    border-radius: 1.25rem;
    background-color: #d3c272;
    color: white;
}

.card-area {
    width: 660px;
    min-height: 680px;
    background-color: #fff;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgb(46, 61, 73 / 50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

/* Cards, hover, flip */

*,
*::before
*::after {
    box-sizing: border-box;
    position: relative;
}

.card-area, .card {
    height: 125px;
    width: 125px;
    background-color: #801920;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.card img {display:none;}
.card.show img {display:block;}
.card.match img {display:block;}

.card-area .card.open {
    transform: rotateY(180);
    background-color: #fff;
    cursor: default;
}

.card-area .card.show {
    font-size: 33px;
    background-color: #fff;
}

.card-area .card.match {
    cursor: default;
    background-color: #1abc9c;
    font-size: 33px;
}

.card-area .card.unmatch {
    cursor: default;
    background-color: #ff7675;
    font-size: 33px;
}

.card img {width:100px;}