/* Fonts imported from google */
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&family=Zeyada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Zen+Dots&display=swap');

html,
body {
    justify-content: center;
    align-items: center;
    text-align: center;
    background:#801920;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/* Headings */

.navbar,
.game-name {
    margin: auto;
}

.game-name {
    font-family: 'Zen Dots', sans-serif;
    font-size: 45px;
    letter-spacing: 5px;
}

h2 {
    font-family: 'Zen Dots', sans-serif;
    font-size: 23px;
    color: white;
}

/* Main section */

.btn-primary {
    margin: 5px;
    padding: 0.4rem 1rem;
    font-size: 1.5rem;
    border-radius: 1.25rem;
    background-color: #a4985d;
    border-color: transparent;
}

.btn-secondary {
    color: #fff;
    background-color: #801920;
    border-color: #fff;
    font-size: 1rem;
    border-radius: 1rem;
}

.btn-primary:hover,
.btn-secondary:hover {
    background-color: #a4985d;
    border-color: transparent;
}

.modal-content {
    border-radius: 1.3rem;
    background-color: #a4985d;
    color: white;
    font-size: 18px;
}


/* Cards, hover, flip */

*,
*::before
*::after {
    box-sizing: inherit;
}

.grid {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    position: relative;
    transition: all .4s linear;
    transform-style: preserve-3d;
    margin: 5px;
}

.card,
.back,
.front {
    height: 150px;
    width: 150px;
}

.back,
.front {
    position: absolute;
    backface-visibility: hidden;
}

.front {
    z-index: 2;
    background: #FAB942
}

.back {
    transform:rotateY(180deg);
    background-color: #6589F9;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.selected {
    transform: rotateY(180deg);
}

.match .front {
    background: #6589F9 !important;
}