/* Fonts imported from google */
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&family=Zeyada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Zen+Dots&display=swap');

body {
    margin: 0;
    background: rgb(128,25,32);
    font-family: 'Roboto', sans-serif;
}
/* Headings */

.navbar,
.game-name {
    margin: auto;
}

.game-name {
    font-family: 'Zen Dots', sans-serif;
    font-size: 45px;
    letter-spacing: 5px;
}

h2 {
    font-family: 'Zen Dots', sans-serif;
    font-size: 23px;
    color: white;
}

.modal-content {
    border-radius: 1.3rem;
    background-color: rgb(128,25,32);
    color: white;
    font-size: 18px;
    }


/* Cards, hover, flip */

*,
*::before
*::after {
    box-sizing: border-box;
}

.grid {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    position: relative;
    transition: all .4s linear;
    transform-style: preserve-3d;
    margin: 5px;
}

.card,
.back,
.front {
    height: 150px;
    width: 150px;
}

.back,
.front {
    position: absolute;
    backface-visibility: hidden;
}

.front {
    z-index: 2;
    background: #FAB942
}

.back {
    transform:rotateY(180deg);
    background-color: #6589F9;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.selected {
    transform: rotateY(180deg);
}

.match .front {
    background: #6589F9 !important;
}